<h3>ANSWER COACH</h3>

<p><strong><%= @question %> </strong></p>
<p><%= @answer_2 %></p>

<p><%= link_to "ask a new question", coaching_ask_path %></p>

<!-- <p><strong><%= @question %> : </strong><%= @answer %></p> -->





